header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
   
}
.nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 10px 0 #020202;
}

.nav h1 {
    font-size: 2.3rem;
}

.nav h1 a {
    text-decoration: none;
    color: #000;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-icon span {
    position: absolute;
    top: -8px;
    right: -3px;
    width: 20px;
    height: 20px;
    background-color: rgb(8, 252, 211);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}